
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.student-list-card {
  display: inline-block;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}


.modal-dialog {
  margin-top: 10%;
}

.add-student-button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-student-button:hover {
  background-color: #218838;
}
